<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPbrexPG6ZGXN1AJvMbx0HugWwT4bWBMM</string>
	<key>GCM_SENDER_ID</key>
	<string>1078616120728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atdigital.iot.app</string>
	<key>PROJECT_ID</key>
	<string>atdigital-iot-cb332</string>
	<key>STORAGE_BUCKET</key>
	<string>atdigital-iot-cb332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078616120728:ios:2a47a915549ec723a5dfed</string>
</dict>
</plist>